@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
     url('../fonts/rubik-v19-cyrillic-500.woff2') format('woff2'), 
     url('../fonts/rubik-v19-cyrillic-500.woff') format('woff'); 
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
     url('../fonts/rubik-v19-cyrillic-regular.woff2') format('woff2'), 
     url('../fonts/rubik-v19-cyrillic-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-v19-latin-regular.woff2') format('woff2'),
         url('../fonts/rubik-v19-latin-regular.woff') format('woff');
  }
* {
    margin: 0;
    padding: 0;
}
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
body {
    font-family: "Rubik", sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #f6f6f9;
    border-top: 2px solid rgb(30, 42, 206);
}
.header__container {
    width: 1220px;
}
.header__side {
    width: 1200px;
    height: 332px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}
.header__left-side {
    width: 600px;
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 320px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}
.currency__list {
    width: 258px;
    height: 21px;
    display: flex;
    justify-content: space-between;
}
.currency__item {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: Rubik;
}
.currency__item:first-letter {
    color: #285193;
    font-weight: bold;
}
.header__right-side {
    height: 40px;
}
.telegram__link {
    transition: all 0.2s linear 0s;
}
.telegram__link:hover {
    transform: scale(1.05, 1.05);
}
.header__nav {
    height: 68px;
    width: 1200px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: white;
    padding: 0px 15px 0px 15px;
}
.nav__list {
    height: 25px;
    width: 1151px;
    display: flex;
    justify-content: space-between;
}
.nav__item > .nav__link {
    font-size: 19px;
    color: #515151;
    font-weight: 400;
    line-height: 23px;
    font-family: Rubik;
}
.header__ads {
    border-radius: 18px;
}
.hero__container {
    width: 1200px;
    height: 720px;
    margin-bottom: 34px;
}
.hero__virus {
    width: 1200px;
    height: 133px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin-bottom: 34px;
    justify-content: center;
    background-color: #cbcbd0;
}
.virus__list {
    height: 75px;
    display: flex;
    width: 1136px;
    align-items: center;
    justify-content: space-between;
}
.virus-info__item {
    width: 342px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.virus-info__sub {
    width: 274px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-family: Rubik;
}
.virus__list::after {
    margin-left: 365px;
    position: absolute;
    content: url(../image/vlred.svg);
}
.virus-inf__item {
    width: 215px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.virus-inf__sub {
    width: 161px;
    font-size: 18px;
    color: #db0000;
    line-height: 21px;
    font-family: Rubik;
    font-weight: normal;
}
.virus-inf__num {
    color: black;
    font-weight: 600;
}
.virus-inf__item::after {
    margin-left: 230px;
    position: absolute;
    content: url(../image/vlwhite.svg);
}
.virus-health__item {
    width: 219px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.health__sub {
    width: 153px;
    height: 52px;
    display: flex;
    font-size: 18px;
    color: #05b135;
    line-height: 21px;
    font-family: Rubik;
    font-weight: normal;
    flex-direction: column;
    justify-content: center;
} 
.health__num {
    color: black;
    font-weight: 600;
} 
.virus-health__item::after {
    margin-left: 240px;
    position: absolute;
    content: url(../image/vlwhite.svg);
}
.virus-death__item {
    width: 183px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.death__sub {
    width: 126px;
    height: 52px;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-family: Rubik;
    font-weight: normal;
    flex-direction: column;
    justify-content: center;
}
.death__num {  
    color: black;
    font-weight: 600;
}
.news__list {
    width: 1200px;
    height: 564px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.news__item {
    width: 386px;
    display: flex;
    height: 273px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.news__sub {
    font-size: 17px;
    font-weight: 600;
    color: #202020;
    line-height: 20px;
    font-family: Rubik;
}
.news__time {
    font-size: 14px;
    color: #6b6d97;
    line-height: 17px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.ntf__container {
    height: 91px;
    display: flex;
    width: 1146px;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 38px;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 34px;
    justify-content: space-between;
    background: rgba(239, 186, 84, 0.18);
}
.ntf__left-side {
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ntf__sub {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    font-family: Rubik;
}
.ntf__btn {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-family: Rubik;
    border-radius: 5px;
    font-style: normal;
    padding: 8px 11.5px;
    background: linear-gradient(90deg,#fe5c28 0%,rgba(255, 139, 54, 0.9) 88.43%);
}
.last-news__container {
    width: 1200px;
    height: 970px;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: row;
}
.last-news__left-side {
    width: 783px;
    height: 970px;
    margin-top: 100px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.last-news__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    font-family: Rubik;
    font-style: normal;
    margin-bottom: 13px;
}
.last-news__list {
    height: 935px;
    display: flex;
    margin-bottom: 18px;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.last-news__item {
    width: 783px;
    height: 143px;
    display: flex;
    justify-content: space-between;
}
.last-news__sub {
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.last-news__head {
    width: 454px;
    height: 42px;
    font-size: 17px;
    font-weight: 600;
    color: #202020;
    line-height: 20px;
    font-style: normal;
    font-family: Rubik;
}
.last-news__des {
    width: 512px;
    height: 55px;
    font-size: 17px;
    font-weight: 400;
    color: #434343;
    line-height: 18px;
    font-family: Rubik;
}
.last-news__time {
    width: 512px;
    height: 19px;
    font-size: 14px;
    color: #7688a4;
    line-height: 17px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.main-news__list {
    width: 386px;
    height: 542px;
    display: flex;
    margin-top: 130px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
    background: #f6f6f9;
    flex-direction: column;
    justify-content: space-around;
}
.main-news__item-head {
    width: 347px;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-news__item-sub {
    width: 347px;
    height: 92px;
    display: flex;
    flex-direction: column;
}
.main-news__item-head::after {
    content: url(../image/hrline.svg);
}
.main-news__item-sub::after {
    content: url(../image/hrline.svg);
}
.main-news__heading {
    width: 280px;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    color: #202020;
    line-height: 24px;
    font-style: normal;
    font-family: Rubik;
}
.main-news__sub {
    width: 347px;
    height: 62px;
    font-size: 17px;
    color: #202020;
    line-height: 20px;
    font-family: Rubik;
    font-weight: normal;
}
.main-news__time {
    width: 117px;
    height: 19px;
    font-size: 14px;
    color: #7688a4;
    line-height: 17px;
    font-style: normal;
    font-family: Rubik;
    font-weight: normal;
}
.main-news__item-fin {
    width: 347px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.last-news__link {
    display: flex;
    justify-content: center;
}
.last-news__btn {
    width: 215px;
    height: 42px;
    border: 2px solid #285193;
    margin: 15px;
    font-size: 17px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px 31px;
    font-family: Rubik;
    font-style: normal;
    background: #295093;
    transition: all 0.3s linear 0s;
}
.last-news__btn:hover {
    color: #285193;
    background-color: #ffffff;
    border: 2px solid #285193;
}
.download__container {
    width: 1200px;
    height: 214px;
    background: #f6f6f9;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 240px;
    margin-bottom: 38px;
}
.download__img {
    width: 236px;
    height: 177px;
}
.download__img-phone {
    z-index: -1;
    margin-top: 17px;
}
.download__img-element {
    margin-top: 57px;
    position: absolute;
    margin-left: -205px;
    background-color: white;
    padding: 30px 30px 20px 30px;
}
.download__sub {
    width: 526px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.download__sub-heading {
    font-size: 24px;
    font-weight: 700;
    color: #295093;
    line-height: 28px;
    font-family: Rubik;
}
.download__btn {
    transition: all 0.3s linear 0s;
}
.download__btn:hover {
    transform: scale(1.03, 1.03);
}
.download__sub-sub {
    width: 490px;
    height: 44px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 21px;
    font-family: Rubik;
}
.footer {
    width: 1366x;
    height: 275px;
    display: flex;
    align-items: center;
    background: #295093;
}
.footer__container {
    width: 1200px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__top {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}
.top__logo {
    width: 173px;
    height: 21px;
    font-size: 16px;
    color: #ffffff;
    line-height: 19px;
    font-weight: bold;
    font-family: Rubik;
    border-radius: 5px;
    background: #133c82;
    padding: 11px 12px 6px 9px;
}
.top__sub {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    line-height: 17px;
    font-family: Rubik;
}
.top__btn {
    width: 132px;
    height: 38px;
    border: none;
    display: flex;
    border-radius: 5px;
    align-items: center;
    transition: all 0.8s;
    background-color: white;
    justify-content: space-around;
}
.top__btn-sub {
    font-size: 14px;
    font-weight: 600;
    color: #295093;
    line-height: 17px;
    font-family: Rubik;
}
.footer__line::after {
    content: url(../image/footer-hrline.svg);
    position: absolute;
    top: 167em;
}
.footer__bottom-side {
    width: 1200px;
    height: 121px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.bottom-side__sub {
    width: 365px;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub__heading {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 17px;
    font-family: Rubik;
}
.sub__info {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
}
.footer__bottom-list-st {
    width: 163px;
    height: 106px;
    line-height: 17px;
}
.list__item {
    font-family: Rubik;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
}
.footer__bottom-list-nd {
    width: 193px;
    height: 106px;
    line-height: 17px;
}
